flask
unstructured[md]
assemblyai
pytube
langchain
sentence-transformers
python-dotenv==1.0.1
langchain-community
unstructured
chromadb==0.5.2
pytubefix
groq
transformers[torch]
tensorflow
langchain-huggingface
protobuf==3.20.3
nltk
langchain-cohere
langchain-chroma
langchain-core
moviepy
openai-whisper
torch
